<header>
  <img src="assets/logo.png" class="logo" href="/" />
  <a class="logo-text" style="color: #ffff" href="/">Reclass</a>
</header>
<h1>Subjects</h1>
<div>
  <!-- [ngClass]="{ selected: subject === 'Thai' }" -->
  <button type="button" class="subject" (click)="handleChangeSubject('Thai')">
    Thai
  </button>
</div>
<div>
  <button
    type="button"
    class="subject"
    (click)="handleChangeSubject('English')"
  >
    English
  </button>
</div>
<div>
  <!-- [ngClass]="{ selected: subject === 'Math' }" -->
  <button type="button" class="subject" (click)="handleChangeSubject('Math')">
    Math
  </button>
</div>
<div>
  <!-- [ngClass]="{ selected: subject === 'Computer' }" -->
  <button
    type="button"
    class="subject"
    (click)="handleChangeSubject('Computer')"
  >
    Computer
  </button>
</div>
