<h1 class="video-title">{{ title }}</h1>

<mat-form-field appearance="fill">
  <mat-label>Select week</mat-label>
  <mat-select>
    <mat-option value="one">week 1</mat-option>
    <mat-option value="two">week 2</mat-option>
    <mat-option value="three">week 3</mat-option>
  </mat-select>
</mat-form-field>

<div class="page-content">
  <h2>Full video</h2>
  <div class="clips">
    <app-video-player></app-video-player>
  </div>
  <h2>Shorts</h2>
  <!-- <div
    class="shorts"
    *ngFor="let short of videoValues; let i = index"
    [hidden]="i == 0"
  >
    <app-video-player [videoValues]="short"></app-video-player>
  </div> -->
  <!-- <div #anotherDiv>anotherdiv</div>
  <app-add-video (vAdd)="videoWasAdded($event)" (setTitle)="getTitle($event)">
  </app-add-video> -->
</div>
