.video-title {
  color: #63008a;
  padding: 10px;
  font-family: Quicksand;
  font-size: 40px;
  font-weight: 700;
}

.tag span {
  color: blueviolet;
}
.page-content {
  width: 100%;
  height: 120%;
}

mat-form-field,
mat-select {
  margin-left: 10px;
  border-radius: 5px;
  color: rgb(102, 0, 128);
}

h2 {
  font-size: 30px;
  font-weight: 500;
  color: #63008a;
  margin-bottom: 10px;
  margin-left: 10px;
}
