<div class="clips">
  <!--<iframe src="http://www.youtube.com/embed/{{ videoValues.link }}"></iframe>-->
  <iframe [src]="safeURL" frameborder="0" allowfullscreen></iframe>
  <div class="icons">
    <mat-icon
      class="icon"
      aria-hidden="false"
      aria-label="Example home icon"
      (click)="handleSave()"
      >save</mat-icon
    >
    <mat-icon
      class="icon"
      aria-hidden="false"
      aria-label="Example home icon"
      (click)="handleFavorite()"
      >favorite</mat-icon
    >
    <mat-icon
      class="icon"
      aria-hidden="false"
      aria-label="Example home icon"
      (click)="handleLabel()"
      >label</mat-icon
    >
  </div>
</div>
